@font-face {
    font-family: 'Neue Montreal';
    src: url('/assets/font/NeueMontreal-Medium.woff') format('woff'),
        url("/assets/font/NeueMontreal-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: black;
    color: white;
    font-family: "Neue Montreal";
    min-height: 100vh;
    overflow: none;
  }

  footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 6vh;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    z-index: 1;
}

#container {
    display: grid;
    grid-template-columns:1fr 1fr;
}
h1{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    font-size : 9rem;
    z-index: 1;
    bottom:-3vh;
 
    

}
.posthovered {
        background-color: #362023; /* Set your desired background color on hover */
        color: #7272AB; /* Set your desired text color on hover */

}
.viewhovered {
    background-color: #700548; /* Set your desired background color on hover */
    color: #7899D4; /* Set your desired text color on hover */

}
.profilehovered {
    background-color: #ffcc00; /* Set your desired background color on hover */
    color: #333; /* Set your desired text color on hover */

}

#text{
    font-size: 2rem;
}

img{
    width: 20rem;
    height: 20rem;

}
#carousel {
    height: 100vh; /* Set the desired height for your carousel */
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;

    
    
}
#carousel::-webkit-scrollbar{
    display: none;
}
#carousel img{
    animation: scrollAnimation 30s linear infinite;
}
@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

