body {
    font-weight: bold;

}

#activity {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Adjust gap as needed */
    justify-content: center;
    height: 20em;
    width: 50em;
    overflow-y: scroll;
    font-size: 1.5em;
    margin-top: 5rem;
    padding: 2rem; /* Adjust padding as needed */
    box-sizing: border-box;
  }
  
  .card {
    flex-basis: calc(50% - 1rem); /* 50% width with gap between cards */
    max-width: calc(50% - 1rem); /* Adjust max-width as needed */
    box-sizing: border-box;
    background-color: transparent;
    color:white;
    border-color: white;
    
  }
  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a{
    text-decoration: none;
    color: white;
  }


#postcontent {

    border-bottom: 1px solid;
    /* You can adjust the color and style as needed */
    padding-bottom: 10px;
    /* Optional: add some spacing between paragraphs */

}



.edit,
.delete {
    color: white;

    padding-left: 0.25em;
    padding-right: 0.25em;
    font-style: italic;
    text-decoration: none;
    padding: 0.25%;
}

  